.accordion {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 200px;
}

.passport h1 {
	text-align: center;
	font-family: 'DM Serif Display', serif;
	letter-spacing: 2px;
	color: #0d0d0d;
}
